/**
 * Theme Name:     ListingHive Child
 * Author:         HivePress
 * Template:       listinghive
 * Text Domain:	   listinghive-child
 * Description:    A multipurpose WordPress theme that allows you to build any type of directory and listing websites. Whether it’s a business directory, job board, real estate, classifieds or basically any listing website — ListingHive is a great choice for it.
 */




body {
    color: #0f1727 !important;
}

/* Make homepage tiles less tall: */
.hp-listing-category__image>a {
    display: block;
    height: 220px;
    overflow: hidden;
}


.hp-listing__description {
    font-size: 2rem;
}

.header-logo img {
    width: 100px;
    height: 100px;
}

/**
 * Add listing page width
 */
.hp-form--listing-submit {
    max-width: 550px;
}


.wps_sfw_expiry_interval {
    display:none;
}

/**
 * Remove search bar
 */
.hp-template--listings-view-page .hp-form--listing-search{display:none;}





.sun-create-ad-intro {
    background: #f9fafb;
    border-left: 4px solid #dc2626;
    padding: 12px 16px;
    margin: 12px 0 24px;
    font-size: 15px;
    color: #374151;
}



